.button-login {
  flex-grow: 0;
  padding: 1rem 1.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
  background: transparent;
  color: #8c7561;
  border: 2px solid #8c7561;
  transition: 0.3s;
}

.button-register {
  flex-grow: 0;
  padding: 1rem 1.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
  background: #728ea6;
  color: #fff;
  transition: 0.3s;
}
